.table-row {
  text-align: center;
  flex: 1;
  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-row:last-child {
  border-right: 1px solid #ccc;
}